{% extends 'index' %}

{% block content %}

<div class="row">
    
   
    <div class="col-md-3 col-md-offset-1">
     {% if old('errors') %}
          <div class="alert alert-danger" role="alert">
              <ul>
              {% for error in old('errors') %}
              <li>{{ error.message }}</li>
              {% endfor %}
              </ul>
          </div>
        {% endif %}
        <div class="panel panel-default">
  		        <div class="panel-heading">
                   Members of {{familyInfo[0].name}} family
                <div class="list-group">
                {%if familyInfo[0].admin_id == currentUser.id %}
                    <a href="/family_delete/{{familyInfo[0].id}}">Delete</a>
                    <a href="/family_modify/{{familyInfo[0].id}}">Modify</a>
                    <a href="/add_family_member/{{familyInfo[0].id}}">Add member</a>
                {%endif%}
                </div>
                 <div class="list-group">Admin of the family: <a href="/profile/{{familyAdmin[0].id}}">{{familyAdmin[0].name}}</a></div>
                </div>
  			  <div class="panel-body">
                
                    <div>Members:</div>
                    <ul class="list-group">
                    {% for member in members%}
                    <div class="list-group">
                            <h4 class="list-group-item-heading"><a href="/profile/{{member[0].id}}">{{member[0].name}}</a></h4>
                    </div>
                    {%endfor%}
                    </ul>
  	          </div>
  		</div>
    </div>
</div>
{% endblock %}