{% extends 'index' %}

{% block content %}

<div class="row">
    <h2>Admin of the family: <a href="/profile/{{familyAdmin[0].id}}">{{familyAdmin[0].name}}</a><h2>
   
    <div class="col-md-3 col-md-offset-1">
    <p><a href="/family_delete/{{familyInfo[0].id}}">Delete</a></p>
     <p><a href="/family_modify/{{familyInfo[0].id}}">Modify</a></p>
     <p><a href="/add_family_member/{{familyInfo[0].id}}">Add member</a></p>
        <div class="panel panel-default">
  		        <div class="panel-heading">
                   Members of {{familyInfo[0].name}} family
                </div>
  			  <div class="panel-body">
                    <ul class="list-group">
                    {% for member in members%}
                    <div class="list-group">
                            <h4 class="list-group-item-heading"><a href="/profile/{{member[0].id}}">{{member[0].name}}</a></h4>
                    </div>
                    {%endfor%}
                    </ul>
  	          </div>
  		</div>
    </div>
</div>
{% endblock %}