{% extends 'index' %}

{% block content %}

<div class="row">

    <div class="col-md-3 col-md-offset-1">
    
        <div class="panel panel-default">
  		        <div class="panel-heading">
                   My families
                </div>
  			  <div class="panel-body">
                    <ul class="list-group">
                    {% for family in myfamilies%}
                    <div class="list-group">
                            <h4 class="list-group-item-heading"><a href="/family/{{family[0].id}}">{{family[0].name}}</a></h4>
                    </div>
                    {%endfor%}
                    </ul>
  	          </div>
  		</div>
    </div>
</div>
{% endblock %}