{% extends 'index' %}

{% block content %}

<div class="row">

    <div class="col-md-3 col-md-offset-1">
     {% if old('errors') %}
          <div class="alert alert-danger" role="alert">
              <ul>
              {% for error in old('errors') %}
              <li>{{ error.message }}</li>
              {% endfor %}
              </ul>
          </div>
        {% endif %}
        <div class="panel panel-default">
  		        <div class="panel-heading">
                   My Todos
                </div>
  			  <div class="panel-body">
                    <ul class="list-group">
                    {% for todo in myTodos%}
                    <div class="list-group">
                            <h4 class="list-group-item-heading"><a href="/todo/{{todo.id}}">{{todo.name}}</a></h4>
                    </div>
                    {%endfor%}
                    </ul>
  	          </div>
  		</div>
    </div>
</div>
{% endblock %}