{% extends 'index' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">

        {% if registerMessage %}
          <div class="alert alert-info" role="alert">{{registerMessage}}</div>
        {% endif%}

        {% if old('errors') %}
          <div class="alert alert-danger" role="alert">
              <ul>
              {% for error in old('errors') %}
              <li>{{ error.message }}</li>
              {% endfor %}
              </ul>
          </div>
        {% endif %}

        <form class="form-horizontal" role="form" method="POST" action="/register">

          {{ csrfField }}

          <div class="form-group">
              <label for="FirstName">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ old('name')}}">
          </div>
          
          <div class="form-group">
              <label for="nick">User name</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="User name" value="{{ old('username')}}">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ old('email')}}">
          </div>
          <div class="form-group">
            <label for="Password1">Phone number</label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone number">
          </div>
           <div class="form-group">
            <label for="Password1">Home</label>
            <input type="text" class="form-control" id="home" name="home" placeholder="Home">
          </div>
           <div class="form-group">
            <label for="Password1">Work place</label>
            <input type="text" class="form-control" id="workplace" name="workplace" placeholder="Work place">
          </div>
           <div class="form-group">
            <label for="Password1">Birth</label>
            <input type="text" class="form-control" id="birth" name="birth" placeholder="Birth">
          </div>
          
          
          <div class="form-group">
            <label for="Password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
          </div>
          <div class="form-group">
              <label for="Password2">Re-enter Password</label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
{% endblock %}