{% extends 'index' %}

{% block content %}

<div class="row">
    <div class="col-md-3 col-md-offset-1">

        <div class="panel panel-default">
  		        <div class="panel-heading">
                   {{todo.name}}
                </div>
  			  <div class="panel-body">
                    <ul class="list-group">
                    <div class="list-group">
                            <h4 class="list-group-item-heading">Start time</h4>
                            <p >{{todo[0].start}}</p>
                    </div>
                    <div class="list-group">
                            <h4 class="list-group-item-heading">End time</h4>
                            <p >{{todo[0].end}}</p>
                    </div>
                    <div class="list-group">
                            <h4 class="list-group-item-heading">Description</h4>
                            <p >{{todo[0].description}}</p>
                    </div>
                    <div class="list-group">
                            <h4 class="list-group-item-heading">Owner</h4>
                            <p ><a href="/profile/{{todo[0].user_id}}">{{owner[0].name}}</a></p>
                    </div>
                    </ul>
  	          </div>
                     <div class="list-group">
                            
                            <p ><a href="/delete/todo/{{todo[0].id}}">delete</a></p>
                             <p ><a href="/modify/todo/{{todo[0].id}}">Modify</a></p>
                    </div>
  		</div>
    </div>
</div>
{% endblock %}